body {
    font-family: 'Pacifico', cursive; /* Familia de fuentes */
    font-size: 16px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: rgb(18, 18, 18); /* El color del fondo de la página web */
    color: rgb(250, 249, 246); /* El color del texto*/ 
}

h1 {
    color: rgb(250, 249, 246); /* El color de la cabecera */
    font-size: 36px; /* El tamaño de la fuente de la cabecera */
    font-family: 'Pacifico', cursive; /* La familia tipográfica utilizada en la cabecera */
}


h2 {
    color: rgb(250, 249, 246); /* El color de la cabecera */
    font-size: 24px; /* El tamaño de la fuente de la cabecera */
    font-family: 'Pacifico', cursive; /* La familia tipográfica utilizada en la cabecera */
}
 
li {
    color: rgb(250, 249, 246); /* El color de los elementos de la lista */
    font-size: 16px; /* El tamaño de la fuente de los elementos de la lista */
    font-family: 'Pacifico', cursive; /* La familia tipográfica utilizada en los elementos de la lista */
}

h3 {
    color: rgb(250, 249, 246); /* El color de la cabecera */
    font-size: 24px; /* El tamaño de la fuente de la cabecera */
    font-family: 'Pacifico', cursive; /* La familia tipográfica utilizada en la cabecera */
  }
